@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap');

:root{
    --main-color: #edcb54;
    --black: #181818;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

header .logo{
    grid-column: 2/3;
}

.logo img{
    height: 60px;
    width: 60px;
}

header .navbar{
    grid-column: 3/7;
}

header .navbar .menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header .navbar .menu a{
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
}

header .menu-bar{
    display: none;
}

header .shopping-car{
    grid-column: 8/9;
}