@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800;900&family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap');

:root{
    --main-color: #edcb54;
    --black: #181818;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    position: relative;
}

.navbar .logo{
    grid-column: 2/3;
}

.navbar .logo img{
    height: 60px;
    width: 60px;
}

.navbar .menu{
    display: flex;
    grid-column: 3/7;
    justify-content: space-around;
    list-style: none;
}


header .navbar .menu a{
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
}

header .menu-bar{
    display: none;
}

header .shopping-car{
    grid-column: 8/9;
    font-size: 1.3em;
}

/* MAIN */

.wrapper{
    background: linear-gradient(rgba(16, 16, 16, .6), rgba(16, 16, 16, .8)) , url(./imgs/XQWQCO34KZHW6SHGZV2HEP53GE.jpg);
    background-position: center;
    background-size: cover;
    height: 83vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.wrapper .info-content{
    grid-column: 7/10;
    grid-row: 3/7;
}

.wrapper .info-content h2{
    color: white;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper .info-content h1{
    color: var(--main-color);
    font-size: 5em;
    
}